@charset "UTF-8";
/* 初期設定 */
body {
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳＰゴシック", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    box-sizing: border-box;
}
/* * {
    padding: 8px;
} */
a {
    display: block;
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* ////////////////////////////////////////////////////////////// */
/* 枠と余白。後でコメントアウトすること。 */
/* section,footer {
    border: 1px solid #00f;
    margin: 10px 0;
}
div,ul,li,dl,dt,dd,p,h1,h2 {
    border: 1px solid #f00;
    margin: 10px 0;
}
li {
    margin: 20px 0;
} */


/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header //////////// */

/* 開始時の状態 */
.trans1 {
    width: 300px;
    background: #ccc;
}
.trans2 {
    width: 300px;
    background: #ccc;
    transition: all .8s ease 0s;
}
/* 終了時の状態 */
.end:hover {
    width: 200px;
    background: #f00;
}

.mouse {
    display: flex;
    align-items: center;
}
.mouse li {
    margin: 0 20px;
    background-color: #ddd;
}
.mouse li a {
    display: block;
    padding: 10px 20px;
    position: relative;
}
.mouse li a::after {
    position: absolute;
    bottom: 0;
    left: 0; /* right:0 にすると右から線が出る */
    content: '';
    border-bottom: solid 2px #f00;
    transition: all .3s ease;
    width: 0%;
}
.mouse li a:hover::after {
    width: 100%;
}

.trans3 {
    width: 0%;
    height: 1px;
    background: #f00;
    transition: all .8s ease 0s;
}
.trans3.active {
    width: 100%;
}

/* 全体のコンテナ */
.trans4-container {
    position: relative;
    overflow: hidden;
}
/* 背景画像の設定 */
.trans4 {
    opacity: 0;
    height: 250px;
    position: relative;
    display: block;
    background: url('../images/bg.jpg')no-repeat center center/cover;
    transition: all 0.8s ease 0s;
}
.trans4.active {
    opacity: 1; /* activeクラス付与で表示させる */
}
/* 上にかぶさる帯の設定 */
.trans4::before {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    content: '';
    background-color: #f00;
    transform: translateX(-100%); /* X軸で左側に隠しておく */
    transition: all 0.8s ease 0s; /* 帯のアニメーション */
}
.trans4.active::before {
    transform: translateX(100%); /* 左に隠れている帯を右端まで伸ばして、右端を超えて消えるように設定 */
}