@charset "UTF-8";
/* 初期設定 */
body {
    font: normal 16px/1.8em Arial,Helvetica,sans-serif;;
    color: #7bc2ba;
}
a {
    text-decoration: none;
}


/* ////////////////////////////////////////////////////////////// */
/* よく使われる枠。後でコメントアウトすること。 */




/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header footer //////////// */
.header {

}
.header__navi {

}
.header__navi li a {

}
.header__sns {

}
.header__sns li {

}

.logo {

}

.footer {

}
.footer__inner {

}
.footer__navi {

}
.footer__navi li {

}
.footer__sns {

}
.footer__sns ul {

}
.footer__sns ul li {

}
.copyright {

}

/* //////////// philosophy //////////// */
.philosophy {

}
.philosophy__right {

}
.philosophy__left {

}
.philosophy__left-title {

}
.philosophy__left-top {

}
.philosophy__left-bottom {

}
.philosophy__button {

}

/* //////////// NEWS //////////// */
.news {

}
.news_title {

}
.news_list {

}
.news_list li {

}
.news_list-img {

}
.news_list-txt {

}
.news_list-txt dd {

}
.news_button {

}
/* //////////// INSTAGRAM //////////// */
.instagram {

}
.instagram__title {

}
.instagram__list {

}
.instagram__list li {

}
.instagram__button {

}
/* //////////// ACCESS //////////// */
.access {

}
.access__title {

}
.access__map {

}
.access__detail {

}
.access__detail dl {

}
.access__detail dl dt {

}
.access__detail dl dd {

}