@charset "UTF-8";
/* 初期設定 */
body {
    font: normal 16px/1.8em Arial,Helvetica,sans-serif;;
    color: #7bc2ba;
}
a {
    text-decoration: none;
}


/* ////////////////////////////////////////////////////////////// */
/* よく使われる枠。後でコメントアウトすること。 */
/* 大枠 */
header,footer,nav,main {
    margin: 2px;
    border: 2px solid #f00;
}
/* 小枠 */
div,ul {
    margin: 2px;
    border: 2px solid #00f;
}
li,form,img,h1,h2 {
    margin: 2px;
    border: 1px solid #0f0;
}


/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header //////////// */
header {

}
.header__contents {

}
.header__contents--left {

}
.header__contents--logo {

}
.header__contents--right {

}
.header__image {

}

/* //////////// nav //////////// */
nav {

}
nav ul {

}
nav ul li {

}
nav ul li a {

}

/* //////////// footer //////////// */
footer {

}
.footer {

}
.footer h2 {

}
.footer__image {

}
.footer__column {

}
.footer__column--form {

}
.footer__column--form form {

}
.footer__column--form form input[type="text"] {

}
.footer__column--form form textarea {

}
.footer__column--form form input[type="submit"] {

}
.footer__column--map {

}
.footer__copy {

}

/* //////////// コンテンツ //////////// */
main {

}
.menu {

}
.menu__content {

}
.menu__content--text {

}
.menu__content--image {

}
.vision {

}
.vision__image {

}
.vision__column {

}
.vision__column--item {

}