@charset "UTF-8";
/* 初期設定 */
body {
    font: normal 16px/1.8em Arial,Helvetica,sans-serif;;
    color: #7bc2ba;
}
a {
    text-decoration: none;
}


/* ////////////////////////////////////////////////////////////// */
/* よく使われる枠。後でコメントアウトすること。 */
/* 大枠 */
/* header,footer,nav,main {
    margin: 2px;
    border: 2px solid #f00;
}
/* 小枠 */
/* div,ul {
    margin: 2px;
    border: 2px solid #00f;
}
li,form,img,h1,h2 {
    margin: 2px;
    border: 1px solid #0f0;
} */


/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header //////////// */
header {
    border-top: 20px solid #7bc2ba;
}
.header__contents {
    width: 1200px;
    margin: 43px auto 88px;
    display: flex;
    justify-content: center;
}
.header__contents--text {
    align-self: flex-end;
    margin: 0 30px;
    width: 25%;
    border-top: 1px solid #7bc2ba;
    border-bottom: 1px solid #7bc2ba;
}
.text-right {
    text-align: right;
}
.header__contents--logo {
    text-align: center;
}
.header__contents--logo-mark {
    margin-bottom: 20px;
}
.header__image {
    position: relative;
    height: 60vh;
    background: #7bc2ba url('../images/bg_header.jpg')no-repeat right center / cover;
}
.header__image img {
    position: absolute;
    top: -60px;
    right: 5vw;
}
@media screen and (max-width:1215px) {
    .header__contents {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .header__contents {
        display: block;
        margin-top: 240px;
        position: relative;
    }
    .header__contents--text {
        margin: 0 auto;
        width: 90%;
    }
    .text-right {
        text-align: left;
        border-bottom: none;
    }
    .header__contents--logo {
        position: absolute;
        top: -228px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .header__image {
        position: relative;
        height: 40vh;
        background: #7bc2ba url('../images/bg_header.jpg')no-repeat right center / cover;
    }
}


/* //////////// nav //////////// */
nav {
    background-color: #7bc2ba;
}
nav ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    width: 120px;
    height: 60px;
}
nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}
@media screen and (max-width:1215px) {
    nav ul {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    nav ul {
        flex-wrap: wrap;
    }
    nav ul li {
        margin: 6px 0;
    }
    nav ul li a {
        border: 1px solid #fff;
    }
}

/* //////////// footer //////////// */
footer {
    text-align: center;
}
.footer {
    color: #fff;
    padding: 60px 0 70px;
    background-color: #7bc2ba;
}
.footer h2 {
    font-size: 50px;
    margin: 30px auto 80px;
}
.footer__image {
    width: 100%;
    height: 600px;
    background: #7bc2ba url('../images/bg_footer.jpg')no-repeat center center / cover;
}
.footer__column {
    width: 1200px;
    display: flex;
    margin: 40px auto 100px;
}
.footer__column--form {
    flex: 1;
    width: 60%;
}
.footer__column--form form {
    width: 60%;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__column--form form p {
    font-size: 0.9em;
    margin-bottom: 15px;
}
.footer__column--form form input[type="text"] {
    margin: 0 0 20px 0;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
}
.footer__column--form form textarea {
    margin: 0 0 20px 0;
    padding: 10px;
    height: 8em;
    font-size: 1.3em;
    border-radius: 5px;
    border: none;
}
.footer__column--map {
    flex: 1;
    text-align: left;
}
.footer__column--map iframe {
    width: 500px;
    height: 450px;
}
.footer__copy {
    font-size: 0.8em;
    padding: 20px 0;
    color: #aaa;
}
@media screen and (max-width:1215px) {
    .footer__column {
        width: 100%;
    }
    .footer__column--map {
        margin: 0 auto;
        width: 97%;
    }
    .footer__column--map iframe {
        width: 40vw;
        height: 450px;
    }
}
@media screen and (max-width:768px) {
    .footer h2 {
        font-size: 2em;
    }
    .footer__image {
        height: 40vh;
    }
    .footer__column {
        display: block;
    }
    .footer__column--form {
        flex: 1;
        width: 100%;
    }
    .footer__column--form form {
        width: 80%;
    }
    .footer__column--map iframe {
        width: 90%;
        margin: 50px auto 0;
        text-align: center;
    }
}

/* //////////// コンテンツ //////////// */
main {

}
.menu {
    width: 1200px;
    margin: 0 auto;
}
.menu__content {
    display: flex;
    text-align: center;
}
.menu__content--text {
    flex: 1;
}
.menu__content--text img {
    margin-top: 80px;
    text-align: center;
}
.menu__content--text h1 {
    margin: 20px 0 50px;
    font-size: 1.3em;
}
.menu__content--text p {
    width: 65%;
    margin: 0 auto 20px;
}
.menu__content--image {
    flex: 1;
    height: 600px;
}
.img-cording {
    background: url('../images/menu_cording.jpg')no-repeat center center / cover;
}
.img-design {
    background: url('../images/menu_design.jpg')no-repeat center center / cover;
}
@media screen and (max-width:1215px) {
    .menu {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .menu {
        margin: 30px auto 0;
    }
    .menu__content {
        display: block;
        position: relative;
    }
    .menu__content--text {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99;
    }
    .menu__content--image {
        position: relative;
        margin-bottom: 2px;
    }
    /* 背景画像に黒いカバーをかける方法 */
    .menu__content--image::before {
        height: 600px;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
    }
}

.vision {
    position: relative;
}
.vision__image {
    border-top: 60px solid #7bc2ba;
    height: 600px;
    background: url('../images/bg_contents.jpg')no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 背景画像に黒いカバーをかける方法 */
.vision__image::before {
    height: 540px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}
.vision__image h1 {
    font: bold 31px/2.3em sans-serif;
    text-align: center;
    color: #fff;
    z-index: 99;
}
.vision__image p {
    margin-top: 75px;
    z-index: 99;
}
.vision__column {
    width: 1200px;
    margin: 80px auto 150px;
    display: flex;
    justify-content: space-between;
}
.vision__column--item {
    width: 30%;
    text-align: left;
}
.vision__column--item-img {
    margin: 0 0 50px;
    text-align: center;
}
.vision__column--item-img img {
    height: 200px;
}
@media screen and (max-width:1215px) {
    .vision__column {
        width: 97%;
    }
}
@media screen and (max-width:768px) {
    .vision {
        margin-top: 50px;
    }
    .vision__image h1 {
        font: bold 1.6em/1.9em sans-serif;
    }
    .vision__column {
        width: 90%;
        margin: 10px auto;
        display: block;
    }
    .vision__column--item {
        width: 90%;
        margin-top: 40px;
        text-align: left;
    }
    .vision__column--item-img {
        margin: 0 0 10px;
        text-align: center;
    }
}

/* //////////// 共有 //////////// */
.btn a,
input[type="submit"] {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 0;
    width: 130px;
    cursor: pointer;
    font-size: 1.3em;
    color: #58847f;
    text-align: center;
    border: 10px solid #58847f;
    background-color: transparent;
}
