@charset "UTF-8";
/* 初期設定 */
body {
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳＰゴシック", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    box-sizing: border-box;
}
* {
    padding: 8px;
}
a {
    display: block;
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* ////////////////////////////////////////////////////////////// */
/* 枠と余白。後でコメントアウトすること。 */
/* section,footer {
    border: 1px solid #00f;
    margin: 10px 0;
}
div,ul,li,dl,dt,dd,p,h1,h2 {
    border: 1px solid #f00;
    margin: 10px 0;
}
li {
    margin: 20px 0;
} */


/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header //////////// */
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 10px 20px;
    background: rgba(0, 0, 0, .6);
}
.header__navi {
    display: flex;
}
.header__navi li:not(:last-child) {
    margin-right: 14px;
}
.header__navi li a {
    color: #fff;
    font-size: 12px;
}
.header__sns {
    display: flex;
}
.header__sns li {
    width: 45px;
    height: 45px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/mv.jpg) center/cover no-repeat;
}
.logo h1 {
    width: 150px;
}

/* //////////// footer //////////// */
.footer {
    background-color: #242424;
}
.footer__inner {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.footer__inner-navi {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer__inner-navi li {
    margin: 0 10px;
}
.footer__inner-navi li a {
    color: #ffffff;
    font-size: 12px;
}
.footer__inner-sns {
    border-top: 1px solid #7c7c7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.footer__inner-sns ul {
    display: flex;
}
.footer__inner-sns ul li {
    width: 40px;
    height: 40px;
}
.copyright {
    color: #ffffff;
    font-size: 12px;
}

/* //////////// philosophy //////////// */
.philosophy {
    display: flex;
    height: 680px;
    background-color: #242424;
}
/* 共通のCSS */
.philosophy__right,
.philosophy__left {
    width: 50%;
}

.philosophy__right {
    background: url(../images/philosophy_bg.jpg) center/cover no-repeat;
}
.philosophy__left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}

.philosophy__left-title {
    font-size: 24px;
}
.philosophy__left-top {
    margin-top: 40px;
    line-height: 1.6;
}
.philosophy__left-bottom {
    margin-top: 20px;
    line-height: 1.6;
}
.philosophy__button {
    margin-top: 50px;
    border: 1px solid #fff;
    width: 180px;
}
.philosophy__button a {
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    color: #fff;
}
.philosophy__button a:hover {
    color: #242424;
    background: #fff;
}

/* //////////// news //////////// */
.news {
    background: #f0f0f0;
    padding: 100px 0;
}
.news__title {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
}
.news__title span {
    font-size: 16px;
    margin-left: 16px;
}
.news__list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}
.news__list li {
    width: calc(100% / 4 - 15px);
}
.news__list li:not(:last-child) {
    margin-right: 30px;
}
.news__list-txt {
    margin-top: 10px;
    font-size: 14px;
}
.news__list-txt dd {
    margin-top: 10px;
}
.news__button {
    border: 1px solid #242424;
    width: 180px;
    margin: 60px auto 0;
}
.news__button a {
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    color: #242424;
}
.news__button a:hover {
    color: #fff;
    background: #242424;
}

/* //////////// instagram //////////// */
.instagram {
    background: #fff;
    padding: 100px 0;
}
.instagram__title {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
}
.instagram__list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}
.instagram__list li {
    width: calc(100% / 4 - 15px);
}
.instagram__list li:not(:last-child) {
    margin-right: 30px;
}
.instagram__button {
    border: 1px solid #242424;
    width: 180px;
    margin: 60px auto 0;
}
.instagram__button a {
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    color: #242424;
}
.instagram__button a:hover {
    color: #fff;
    background: #242424;
}

/* //////////// access //////////// */
.access {
    background: #f0f0f0;
    padding: 100px 0;
}
.access__title {
    font-size: 24px;
    text-align: center;
}
.access__map {
    margin-top: 50px;
}
.access__map iframe{
    width: 100%;
}
.access__detail {
    width: 50%;
    margin: 0 auto;
    margin: 40px auto 0;
}
.access__detail dl {
    display: flex;
}
.access__detail dl:not(:first-child) {
    margin-top: 30px;
}
.access__detail dl dt {
    flex: 1;
    font-size: 14px;
}
.access__detail dl dd {
    flex: 2;
    font-size: 14px;
}
.access__detail dl dd div:not(:first-child){
    margin-top: 10px;
}