@charset "UTF-8";
/* 初期設定 */
body {
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    box-sizing: border-box;
}


/* ////////////////////////////////////////////////////////////// */
/* 枠と余白。後でコメントアウトすること。 */
* {
    padding: 4px 6px !important;
}
section,footer {
    border: 1px solid #00f;
}
div,ul,li,dl,dt,dd,p,h1,h2 {
    border: 1px solid #f00;
    margin: 10px 0;
}
li {
    margin: 20px 0;
}


/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header //////////// */
.header {
}
.header__navi {
}
.header__navi li a {
}
.header__sns {
}
.header__sns li {
}

.logo {
}

/* //////////// footer //////////// */
.footer {
}
.footer__inner {
}
.footer__inner-navi {
}
.footer__inner-navi li {
}
.footer__inner-sns {
}
.footer__inner-sns ul {
}
.footer__inner-sns ul li {
}
.copyright {
}

/* //////////// philosophy //////////// */
.philosophy {
}
.philosophy__right {
}
.philosophy__left {
}
.philosophy__left-title {
}
.philosophy__left-top {
}
.philosophy__left-bottom {
}
.philosophy__button {
}

/* //////////// news //////////// */
.news {
}
.news__title {
}
.news__list {
}
.news__list li {
}
.news__list-img {
}
.news__list-txt {
}
.news__list-txt dd {
}
.news__button {
}

/* //////////// instagram //////////// */
.instagram {
}
.instagram__title {
}
.instagram__list {
}
.instagram__list li {
}
.instagram__button {
}

/* //////////// access //////////// */
.access {
}
.access__title {
}
.access__map {
}
.access__detail {
}
.access__detail dl {
}
.access__detail dl dt {
}
.access__detail dl dd {
}