@charset "UTF-8";
/* 初期設定 */
body {
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "ＭＳＰゴシック", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
a {
    display: block;
    text-decoration: none;
}


/* ////////////////////////////////////////////////////////////// */
/* 枠と余白。後でコメントアウトすること。 */
* {
    padding: 4px 6px !important;
}
section,footer {
    border: 1px solid #00f;
    margin: 10px 0;
}
div,ul,li,dl,dt,dd,p,h1,h2 {
    border: 1px solid #f00;
    margin: 10px 0;
}
li {
    margin: 20px 0;
}


/* ////////////////////////////////////////////////////////////// */

/* ここから必要なコーディング開始 */
/* //////////// header //////////// */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 10px 20px;
}
.header__navi {
    display: flex;
}
.header__navi li:not(:last-child) {
    margin-right: 14px;
}
.header__navi li a {
    font-size: 12px;
}
.header__sns {
    display: flex;
}
.header__sns li {
    width: 45px;
    height: 45px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* //////////// footer //////////// */
.footer {
}
.footer__inner {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.footer__inner-navi {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer__inner-navi li {
    margin: 0 10px;
}
.footer__inner-navi li a {
    font-size: 12px;
}
.footer__inner-sns {
    border-top: 1px solid #7c7c7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.footer__inner-sns ul {
    display: flex;
}
.footer__inner-sns ul li {
    width: 40px;
    height: 40px;
}
.copyright {
    font-size: 12px;
}

/* //////////// philosophy //////////// */
.philosophy {
    display: flex;
    
}
.philosophy__right {
}
.philosophy__left {
}
.philosophy__left-title {
}
.philosophy__left-top {
}
.philosophy__left-bottom {
}
.philosophy__button {
}

/* //////////// news //////////// */
.news {
}
.news__title {
}
.news__list {
}
.news__list li {
}
.news__list-img {
}
.news__list-txt {
}
.news__list-txt dd {
}
.news__button {
}

/* //////////// instagram //////////// */
.instagram {
}
.instagram__title {
}
.instagram__list {
}
.instagram__list li {
}
.instagram__button {
}

/* //////////// access //////////// */
.access {
}
.access__title {
}
.access__map {
}
.access__detail {
}
.access__detail dl {
}
.access__detail dl dt {
}
.access__detail dl dd {
}